{% extends 'layout.html' %}
{% block title %}Terms of use{% endblock %}
{% block content %}
	<div class="legal_terms_of_use">
		<h1>Terms of use</h1>
		<ol>
			<li>
				You must be over the age of eighteen (18) to use this site.
				<ul>
					<li>If you are under the age of eighteen you are prohibited from using this site, providing any personal information to this site, or otherwise submitting personal information using this site.</li>
				</ul>
			</li>
			<li>
				You must not, in the use of this site, violate any laws in your jurisdiction.
			</li>
			<li>
				We reserve the right to alter these terms of use at any time.
			</li>
			<li>
				We reserve the right to refuse service to anyone for any reason at any time.
				<ul>
					<li>
						Please review the <a href="{{ url_for('legal.rules') }}">site rules and code of conduct</a> to avoid having your access to this site revoked.
					</li>
				</ul>
			</li>
			<li>
				By agreeing to these terms you also consent to the use of cookies to confirm your agreement, as described in the <a href="{{ url_for('legal.privacy') }}">privacy policy</a>.
			</li>
			<li>
				We reserve the right to change, suspend, or discontinue any portion of this site at any time.
			</li>
		</ol>
		{% if agreement_form %}
			<form method="get">
				<input type="submit" value="I Agree">
				<input type="hidden" name="terms_agree" value="1">
				{% for key, value in request.args.items() %}
					<input type="hidden" name="{{ key }}" value="{{ value }}">
				{% endfor %}
			</form>
		{% endif %}
	</div>
{% endblock %}
